<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <app-summary-card [color]="summaryCardColor.SUCCESS" [cardText]="'Earnings (Monthly)'" [cardValue]="25000"
      [isCardAmount]="true">
    </app-summary-card>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <app-summary-card [color]="summaryCardColor.SUCCESS" [cardText]="'Earnings (Annual)'" [cardValue]="215000"
      [isCardAmount]="true">
    </app-summary-card>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <app-summary-card [color]="summaryCardColor.WARNING" [cardText]="'PENDING REQUESTS'" [cardValue]="120">
    </app-summary-card>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <app-summary-card [color]="summaryCardColor.INFO" [cardText]="'Earnings (Annual)'" [cardValue]="215000"
      [isCardAmount]="true">
    </app-summary-card>
  </div>
</div>